In [ ]:
# Data Science Notebook

In [ ]:
## Introduction

Welcome to this Data Science Notebook! In this notebook, 
we will explore various aspects of data science, including programming languages, libraries, tools, and more.

In [ ]:
## Data Science Languages

- Python
- R
- Julia
- SQL

In [ ]:
## Data Science Libraries

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

In [ ]:
## Data Science Tools

| Category         | Tools                     |
|------------------|---------------------------|
| Version Control | Git, GitHub               |
| Data Collection | Web Scraping, APIs        |
| Data Cleaning    | OpenRefine, Pandas        |
| Visualization   | Matplotlib, Tableau       |
| Machine Learning | Scikit-learn, TensorFlow  |

In [ ]:
## Arithmetic Expression Examples

Let us explore some basic arithmetic expressions using Python.

In [ ]:
# Multiplication and Addition
x = 5
y = 3
multiplication_result = x * y
addition_result = x + y

multiplication_result, addition_result

In [ ]:
# Convert Minutes to Hours
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes = 120
hours = convert_minutes_to_hours(minutes)
hours

In [ ]:
## Objectives

In this notebook, we will:

- Explore data science languages and libraries.
- Learn about essential data science tools.
- Practice basic arithmetic expressions in Python.

In [ ]:
## Author

This notebook was created by Aadithya Ram.